.filter{
    width: 448px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 20px;
    gap: 15px;
}

.button{
    background-color: inherit;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #bac4da;
    color: #3174ee;
    font-size: .9rem;
    cursor: pointer;
}

.button:hover{
    background-color: #f7f8f9;
}

.active_button{
    background-color: #3174ee;
    color: #fff;
}

.active_button:hover{
    background-color: #3174ee !important;
    color: #fff !important;
}

.label{
    margin: 0;
    align-self: center;
}

@media(max-width: 1000px){
    .filter{
        width: 100vw;
        margin-left: 0;
    }
}